*{
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
.pokemon-header{
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 1px;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 1rem 2rem;

}
