*{
  box-sizing: border-box;
}
.App {
  display: flex;
  justify-content: center;
}
#root {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.pokedex-banner {
  width: 10em;
}

.pikachu {
  width: 15em;
  height: 15em;
  bottom: -70px;
  position:fixed;
  animation: traverse 5s linear infinite; /* Utilisation de l'animation 'traverse' */
}
@keyframes traverse {
  0% {
      left: 0px; /* Position de départ (à gauche) */
  }
  100% {
      left: 100%; /* Position finale (à droite) */
  }
}

.pokemon-header{
  padding: 30px 50px 55px 50px;
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 1px;
  color: #616161;
}

.container {
  background-color: white transparent;
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: 1rem 2rem;
}

#pokeball-loading {
  width: 7em;
  height: 5em;
  transition: transform 0.2s ease-in-out; /* Animation de transformation */
}
#pokeball-loading:hover {
  transform: scale(1.1); /* Fait grossir la carte au survol */
}
/*#pokeball-loading {
  animation: bounce 1s ease initial alternate;
}*/

.loading-button {
  background-color: transparent;
}
/*.loading-button {
  animation: rebond 2s ease infinite;
}*/


/*@keyframes rebond {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }

}

@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }
}*/
