html {
  background: url(../assets/fond_pokedex.png);
}
body{
  //background: linear-gradient(to top, #e4c5ffe3, #ffddfdf0);
  background: #fff url(../assets/fond_pokedex_2.png);
  font-family: "Flexo-Demi",arial,sans-serif;
  padding: 0;
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



.pokemon-header {
  font-size: 3em;
  letter-spacing: 1px;
  text-align: center;
}